$primary-color:black;
$secundary-color:rgba(0, 81, 255, 0.758);
$terciary-color:rgba(255, 255, 255, 0.879);
$cuarto-color:rgba(12, 13, 13, 0.758);
$white-color:white;
$spacing:10px;
$text-align:center;
$pasect:20px;
$dispflex:flex;
$bord:10px;