@charset "UTF-8";
header {
  background-color: rgba(0, 81, 255, 0.758);
  grid-template-rows: auto;
  border: 2px solid black;
}
header .tituloIndex {
  background-color: rgba(12, 13, 13, 0.758);
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase; /*texto mayuscula*/
  border: 2px solid black;
}
header #navIndex {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
  text-align: center;
  color: white;
  background-color: rgba(12, 13, 13, 0.758);
  font-size: 25px;
}
header .active {
  color: aliceblue;
  text-decoration: none; /*Quita el subrayado*/
  text-transform: uppercase; /*texto mayuscula*/
  font-weight: bold; /*negrita*/
  padding: 10px; /* Espacio alrededor del texto */
}
header .active:hover { /* se agranda cuando pasa el mouse x encima */
  color: rgba(186, 109, 240, 0.968);
  text-decoration: none; /*Quita el subrayado*/
  text-transform: uppercase;
  font-weight: bold; /*negrita*/
  padding: 10px; /* Espacio alrededor del texto */
}

.subIndex {
  color: aliceblue;
  font-style: italic; /*cursiva*/
  font-size: 25px;
  text-decoration: underline; /*subrayado*/
}
.text-nosotros {
  color: aliceblue;
  font-style: italic; /*cursiva*/
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}
#Sucursal {
  font-size: 25px;
  text-align: center;
  color: aliceblue;
  text-decoration: overline; /*subrayado x encima*/
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.imgInicio {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.bienvenida {
  margin: 10px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
.history-tittle {
  font-size: 30px;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  text-align: center;
  color: white;
  text-transform: uppercase; /*texto mayuscula*/
}

.section-history{
  text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  p{
    font-size: 20px;
    letter-spacing: 3px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
  }
  background-color: rgba(0, 81, 255, 0.758);
  padding: 20px;
  border-radius: 10px;
}
.parrafo {
  margin: 10px;
  font-size: 20px;
}

.ver:hover {
  color: rgba(186, 109, 240, 0.968);
  text-decoration: none; /*Quita el subrayado*/
  text-transform: uppercase;
  font-weight: bold; /*negrita*/
}

a:hover {
  color: rgba(186, 109, 240, 0.968);
  text-decoration: none; /*Quita el subrayado*/
  text-transform: uppercase;
  font-weight: bold; /*negrita*/
}

a { /* bootstrap inicio-ver repuestos */
  color: aliceblue;
  text-decoration: none; /*Quita el subrayado*/
  text-transform: uppercase; /*texto mayuscula*/
  font-weight: bold; /*negrita*/
}

.card {
  background-color: rgba(255, 255, 255, 0.91);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  margin: 20px; /* Espacio alrededor de la tarjeta */
  padding: 20px; /* Espacio interno de la tarjeta */
  font-size: 16px;
}

.resena {
  width: 100%;
  height: 50%;
  border-radius: 10px;
}

.contactInicio:hover { /* Se agranda la letra cuando pasa el cursor por encima */
  font-size: 30px;
  color: rgba(186, 109, 240, 0.968);
}



.contactInicio {
  color: white;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none; /*Quita el subrayado*/
  padding: 10px;
  transition: all 0.3s ease; /* Transición suave para el cambio de tamaño */
}

.caja {
  width: 1000px;
  background-color: white;
  line-height: 50px;
}

body {
  background-color: black;
  padding: 10px;
  text-align: center;
}

body {
  background: linear-gradient(90deg, red, blue);
  background-size: 200% 200%;
  animation: gradientAnimation 5s infinite alternate;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
footer {
  background-color: rgba(0, 81, 255, 0.758);
  border: 2px solid black;
  text-align: center;
  color: white;
}

main {
  background-color: white;
  
  height: auto;
  padding: 20px;
}

.sectionRep {
  display: flex;
  text-align: center;
  color: white;
}

.maps {
  width: 5%;
  height: 40px;
  border-radius: 10px;
  vertical-align: middle;
}

section {
  font-size: 20px;
}

.reTaller {
  width: 100%;
  height: auto;
}

.reParrafo {
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
  text-transform: uppercase; /*texto mayuscula*/
}

h4 {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}

.fAire {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(180, 189, 209, 0.758);
  width: 300px;
  height: auto;
}

.cajaRep {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.879);
}

.whatsapp {
  width: 40px;
  border-radius: 50%;
}

.imgMaps {
  width: 40px;
  border-radius: 800%;
}

.boxImg {
  flex-direction: column;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 81, 255, 0.758);
  border-radius: 10px;
  border: 2px solid black;
  color: white;
  width: 20%;
  height: 20px;
  padding: 20px;
  margin: 20px;
}

.formulario {
  width: 600px;
  text-align: left;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: rgba(0, 81, 255, 0.758);
  border-radius: 10px;
  border: 2px solid black;
}

textarea, input { /* tamanio formulario cuadritos */
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #2421dc;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.input-group { /* buscador repuestos */
  width: 50%;
  height: 40px;
  display: flex;
  margin: 0 auto;
}

#button-addon2 {
  width: 100px; /* Ancho del botón */
  height: 40px; /* Alto del botón */
  background-color: rgba(109, 134, 187, 0.758);
  color: white;
}

/*# sourceMappingURL=style.css.map */
